<div class="row" *ngFor="let mov of movies">
    <div class="col-md-6">
           
          <table>
             <thead>
                 <th>
                Movies
                 </th>
            </thead>
             <tbody>
                 
                 <tr  >
                     <td (click)=updateDetails(mov.name)>
                         {{mov.name}} 
                     </td>
                     <td>
                         <img [src]="mov.imageUrl" class="img-responsive">
                     </td>
                     <td>
                         {{mov.type}}
                     </td>
                     
                 </tr>
                              </tbody>
        </table>

    </div>

    <div class="col-md-6">
            <ng-container *ngIf="show">
                    <div style="margin: 0 auto;text-align: left;">
                        <div>
                            {{mov.type}}
                        </div>
                        <div>
                                <img [src]="mov.imageUrl" class="img-responsive">
                        </div>
                    </div>
            </ng-container>
    </div>          
           
            
 </div>  